<launch>
 	<arg name="veh"/>
 	<arg name="local" default="false" doc="true for running everything you possibly can on laptop. false for everything running on vehicle."/>
 	<arg name="config" default="baseline" doc="Specify a config."/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman." />
  <arg name="decimate" default="1.0" />


	<!-- AprilTags Detections -->
  <remap from="image_rect" to="camera_node/image/rect" />
  <remap from="camera_node/image/camera_info" to="camera_node/rect_camera_info" />
  <include file="$(find apriltags2_ros)/launch/apriltag_detector_node.launch">
      <arg name="veh" value="$(arg veh)"/>
      <arg name="decimate" value="$(arg decimate)"/>
  </include>

</launch>
