<launch>
	<arg name="veh"/>
	<arg name="total" default="10"/>
	<arg name="decimate" default="1.0"/>

	<!--Apriltag Detector Node-->
	<include file="$(find apriltags2_ros)/launch/apriltag2_demo.launch">
		<arg name="veh" value="$(arg veh)"/>
		<arg name="decimate" value="$(arg decimate)"/>
	</include>

	<!--Post Process Node-->
	<include file="$(find apriltags2_ros)/launch/detection_post_process.launch">
		<arg name="total" value="$(arg total)"/>
	</include>
</launch>
